<div class="row">
  <div class="col-xs-4">
  </div>
  <div id="word-container" class="col-xs-4" data-value="">
  </div>
  <div class="col-xs-4">
  </div>
</div>

<div class="row">
  <ul id="prefixes" class="col-xs-6">
  </ul>
  <ul id="suffixes" class="col-xs-6">
  </ul>
</div>


<% content_for :jquery do %>
  <script>
    $(function() {
      SWPWRD.wordLoader().load();
    });
  </script>
<% end %>
