<div class="row">
  <div id="word-container" class="col-xs-12" data-value="">
  </div>
</div>

<div id="next-word" style="display:none">
</div>

<div class="row">
  <ul id="prefixes" class="col-xs-6">
  </ul>
  <ul id="suffixes" class="col-xs-6">
  </ul>
</div>


<% content_for :jquery do %>
  <script>
    $(function() {
      SWPWRD.wordLoader.init({url: '<%= words_path(:format => :json) %>'});
    });
  </script>
<% end %>
