// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 { text-align: center; }

ul { list-style-type: none; }
li {
  text-align: center;
  font-size: 2em;
  span.label {
    font-weight: normal;
  }
}

#word-container img {
  max-width: 100%;
}
