// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul { list-style-type: none; }
li {
  text-align: center;
  font-size: 3em;
  span.label {
    font-weight: normal;
  }
}

#word-container {
  text-align: center;
  img {
    max-width: 100%;
  }
}
